
.formDivProcesarPrestamo{
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-image: linear-gradient(#ffffff, #ffffffe5);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.226)

    
}
#Titleform{
    text-align: center;
    color: #255dc5;
}

.LibroTitle{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 45px;
}

.contButton{
    display: flex;
    justify-content: center;
    align-items: center;
}


